<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사용자 정보조회</title>
	<th:block th:include="fragments/header"></th:block>
	<script type="text/javascript" src="/js/main.js"></script>
    </head>
<body>
	<th:block th:include="fragments/nav"></th:block>
	
<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>사용자 정보조회</h1>

        <div id="feedback"></div>

        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">아이디</th>
      <th scope="col">이름</th>
      <th scope="col">회사</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.company}"></td>      
    </tr>
    
  </tbody>
</table>

    </div>

</div>

</body>
</html>